# Node
node_modules/
package-lock.json
.npm

# NativeScript
platforms/
hooks/
.android/
.ios/
.gradle/
App_Resources/Android/src/main/res/drawable-*/
App_Resources/Android/src/main/res/mipmap-*/

# Build outputs
dist/
.vite/
.cache/

# IDE
.vscode/
.idea/
