<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.healthscience.healthcues_bb">
    <application
        android:name="com.tns.NativeScriptApplication"
        android:label="healthcue-bb"
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name="com.tns.NativeScriptActivity"
            android:label="healthcue-bb"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="34" />
</manifest>
